.section5 {
  max-width: 975px;
  margin: 0 auto;
  .container {
    color: #b50007;
    text-align: center;
    margin-top: 88px;
  }
  .container-detail {
    display: flex;
    flex-wrap: wrap;
  }

  .detail-item {
    width: 33.33%;
    .item-icon-wrap {
      width: 162px;
      height: 162px;
      border-radius: 50%;
      background-color: #e5d48f;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .item-icon {
      width: 71px;
      height: 71px;
    }
    .item-title {
      line-height: 55px;
      font-size: 31px;
      font-weight: bold;
      font-family: 'Noto Serif TC', serif;
      background-color: #fff;
      margin: 0 auto;
      width: 162px;
      height: 55px;
      position: relative;
      top: -28px;
    }
    .item-description {
      color: #000000;
      font-size: 23px;
      width: 232px;
      margin: 0 auto;
      position: relative;
      top: -28px;
    }
  }
  // .leaf-top {
  //   background-image: url('../../../assets/img/section5/leaf-1.png');
  //   height: 390px;
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   width: 180px;
  //   right: 0px;
  // }
  // .leaf-middle {
  //   background-image: url('../../../assets/img/section5/leaf-3.png');
  //   height: 420px;
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   width: 360px;
  //   left: 0px;
  // }
  // .leaf-bottom {
  //   background-image: url('../../../assets/img/section5/leaf-2.png');
  //   height: 555px;
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   width: 360px;
  //   right: 0px;
  // }
}

/* 平板尺寸 */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section5 {
    .detail-item {
      .item-icon-wrap {
        width: 124px;
        height: 124px;
      }
      .item-icon {
        width: 54px;
        height: 54px;
      }
      .item-title {
        font-size: 22px;
      }
      .item-description {
        font-size: 13px;
        width: 196px;
      }
    }
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .section5 {
    .detail-item {
      .item-title {
        font-size: 28px;
      }
      .item-description {
        font-size: 16px;
        margin-bottom: 36px;
      }
    }
    .detail-item {
      width: 100%;
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}
