<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="static/media/favicon.png" type="image/x-icon"/>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC:200,300,400,500,600,700,900&subset=chinese-traditional');
      @import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&subset=chinese-traditional');
    </style>

    <!--SEO meta-->
    <meta
      name="title"
      content="<%= htmlWebpackPlugin.options.metaTitle %>"
    />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.metaDescription %>"
    />
    <meta
      name="keywords"
      content="<%= htmlWebpackPlugin.options.metaKeywords %>"
    />
    <meta
      property="og:title"
      content="<%= htmlWebpackPlugin.options.ogMetaTitle %>"
    />
    <meta property="og:type" content="<%= htmlWebpackPlugin.options.ogMetaType %>" />
    <meta
      property="og:description"
      content="<%= htmlWebpackPlugin.options.ogMetaDescription %>"
    />
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
