@import '../../assets/animate.scss';

.section-title {
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 90px;
  font-family: 'Noto Sans TC', sans-serif;
  
  // &.hide {
  //   .left {
  //     @include animate(fadeOutRight, .8s, 0);
  //   }

  //   .right {
  //     @include animate(fadeOutLeft, .8s, 0);
  //   }

  //   .middle {
  //     @include animate(fadeOut, .8s, 0);
  //   }

  //   .title-top {
  //     @include animate(fadeOutUp, .8s, 0);
  //   }

  //   .title-bottom {
  //     @include animate(fadeOutUp, .8s, 0);
  //   }

  //   .slogan-area-main {
  //     @include animate(fadeOutUp, .8s, 0);
  //   }

  //   .slogan-area-description {
  //     @include animate(fadeOutUp, .8s, 0);
  //   }
  // }
  
  &.show {
    .left {
      @include animate(fadeInRight, .8s, 0);
    }

    .right {
      @include animate(fadeInLeft, .8s, 0);
    }

    .middle {
      @include animate(fadeIn, .8s, 0);
    }

    .title-top {
      @include animate(fadeInUp, .8s, 0);
    }

    .title-bottom {
      @include animate(fadeInUp, .8s, 0);
    }

    .slogan-area-main {
      @include animate(fadeInUp, .8s, 0);
    }

    .slogan-area-description {
      @include animate(fadeInUp, .8s, 0);
    }
  }
  .title-area {
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .left {
    background-image: url('../../assets/img/sectionTitle/left.png');
    width: 112px;
    height: 212px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
  }
  .right {
    background-image: url('../../assets/img/sectionTitle/right.png');
    width: 112px;
    height: 212px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
  }
  .middle {
    display: flex;
    flex-direction: column;
    margin: 0 45px;
    position: relative;
    align-items: center;
    opacity: 0;
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: #e5d48f;
    margin-bottom: 40px;
    img {
      width: 60px;
      height: 60px;
    }
  }
  .title-top {
    font-size: 58px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 900;
    opacity: 0;
  }
  .title-bottom {
    font-size: 36px;
    font-weight: 100;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
  }
  .slogan-area {
    text-align: center;
    .slogan-area-main {
      font-family: 'Noto Serif TC', serif;
      color: #b50007;
      font-size: 29px;
      font-weight: bold;
      margin-bottom: 20px;
      opacity: 0;
    }
    .slogan-area-description {
      font-size: 17px;
      opacity: 0;
    }
  }
}

/* 螢幕尺寸標準 */
/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .section-title {
    margin-top: 64px;
    margin-bottom: 30px;
    .left {
      width: 56px;
      height: 107px;
    }
    .right {
      width: 56px;
      height: 107px;
    }
    .middle {
      margin: 0 16px;
    }
    .icon-container {
      width: 50px;
      height: 50px;
      margin-bottom: 12px;
      img {
        width: 34px;
        height: 34px;
      }
    }
    .title-top {
      font-size: 29px;
    }
    .title-bottom {
      font-size: 18px;
    }
    .slogan-area {
      .slogan-area-main {
        font-size: 18px;
        margin-bottom: 12px;
      }
      .slogan-area-description {
        font-size: 17px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: left;
      }
    }
  }
}

/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .section-title {
    margin-top: 80px;
    margin-bottom: 60px;
    .left {
      width: 86px;
      height: 162px;
    }
    .right {
      width: 86px;
      height: 162px;
    }
    .middle {
      margin: 0 40px;
    }
    .icon-container {
      width: 75px;
      height: 75px;
      margin-bottom: 28px;
      img {
        width: 50px;
        height: 50px;
      }
    }
    .title-top {
      font-size: 44px;
    }
    .title-bottom {
      font-size: 28px;
    }
    .slogan-area {
      .slogan-area-main {
        font-size: 22px;
        margin-bottom: 12px;
      }
      .slogan-area-description {
        font-size: 13px;
      }
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}
