.iconBtn {
  width: 240px;
  height: 72px;
  background-color: #0047af;
  border-radius: 36px / 36px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  .link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .desc {
    color: #fff;
    font-size: 20px;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-left: 15px;
  }
}


@media only screen and (max-width: 767px) {
  .iconBtn {
    width: 166px;
    height: 50px;

    .desc {
      font-size: 16px;
    }

    .icon {
      width: 30px;
      height: 30px;
    }
  }
}