.iconBtn {
  width: 240px;
  height: 72px;
  background-color: #0047af;
  border-radius: 36px / 36px;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;

  .desc {
    color: #fff;
    font-size: 20px;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-left: 15px;
  }
}