@import '../../assets/animate.scss';

$bg: #000;
$title: #fff;
$desc: #fff;
$border: #fff;

.bg {
  background: $bg;
  padding: 80px 0;
}

.container {
  width: 1024px;
  margin: 0px auto;
}

.logo {
  width: 233px;
  margin: 0 auto;
  display: block;
  margin-bottom: 60px;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  > div {
    width: 33.3%;
    h3 {
      font-size: 18px;
      margin-bottom: 20px;
      color: $title;
    }

    p {
      font-size: 14px;
      line-height: 2;
      color: $desc;
    }
  }

  .contactInfo {
    a,
    p {
      display: block;
      height: 40px;
      line-height: 40px;
      color: $desc !important;
      border: 1px solid $border;
      padding: 0px 3px;
      max-width: 100%;
      margin-bottom: 15px;
      cursor: pointer;
    }

    .map {
      width: 170px;
      display: block;
      margin: 0 auto;
    }
  }

  .socialInfo {
    padding-left: 80px;
    img {
      width: 100%;
    }
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    width: 980px;
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
  .content {
    > div {
      width: 100%;
      margin-bottom: 30px;

      h3,
      p {
        text-align: center;
      }
    }

    .socialInfo {
      padding-left: 0px;
      > div {
        margin: 0 auto;
        display: flex;
        justify-content: center;
      }
    }
  }

  .logo {
    width: 140px;
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
