@import '../../../assets/animate.scss';

.titleHeader {
  background-image: url('./header.png');
  background-size: contain;
  background-position: center; 
  width: 100vw;
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star {
  width: 55px;
  height: 59px;
  margin: 0 25px;
}

.head {
  font-size: 45px;
  color: #fff;
  opacity: 0;

  &.show {
    @include animate(spreadIn, 0.6s, 0s);
  }

  &.hide {
    @include animate(fadeOut, 1s, 0.2s);
  }
}

.bg {
  background: #ffdb32;
  width: 100%;
  height: 100%;
}

.main {
  width: 1100px;
  height: calc(100vh - 14vh - 60px);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;

  .item {
    width: 33.33%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
  }

  &.show {
    .item {
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          @include animate(fadeInUp, 0.6s, $i * .2s);
        }
      }
      
    }
  }

  &.hide {
    .item {
      @include animate(fadeOut, 1s, 0s);
    }
  }

  @for $i from 1 through 3 {
    .item:nth-child(#{$i}) {
      .title {
        background-image: url('./title#{$i}.png');
      }
    }
  }

  .title {
    width: 210px;
    height: 154px;
    background-size: cover;    
    font-family: DFPingJuStd;
    text-align: center;
    position: absolute;
    top: -100px;
    left: 0px;
    z-index: 0;
    h2 {
      margin-top: 30px;
      color: #fff;
      font-size: 42px;
    }
  }

  .content {
    width: 240px;
    height: 365px;
    background-color: #ffffff;
    padding: 14px 0 0 21px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
  }

  .contentTitle {
    color: #f32218;
    h3 {
      font-size: 36px;
      margin: 0;
    }

    p {
      font-size: 18px;
      margin: 0;
    }
  }

  .desc {
    color: #000;
    h3 {
      font-size: 27px;
      margin: 0;
    }

    p {
      font-size: 22.5px;
      margin: 0;
    }
  }

  .img1 {
    position: absolute;
    left: -80px;
    bottom: -15px;
    img {
      width: 279px;
      height: 248px;
    }
  }

  .img2 {
    position: absolute;
    left: -30px;
    bottom: -10px;
    img {
      width: 272px;
      height: 203px;
    }
  }

  .img3 {
    position: absolute;
    left: -40px;
    bottom: -10px;
    img {
      width: 352px;
      height: 207px;
    }
  }

  .link {
    display: block;
    margin: 20px auto;
  }
}
