@import '../../../assets/animate.scss';

.bg {
  width: 100vw;
  height: calc(100vh - 80px);
  background-size: cover;
  background-position: center;
  background-image: url('./bg.png')
}

.container {
  width: 70vw;
  margin: 0 auto;
  position: relative;
  padding-top: 60px;
  .title, .desc, .flower {
    opacity: 0;
  }
  
  &.show {
    .title, .desc {
      @include animate(fadeInRight, 1s, 0s);
    }

    .flower {
      @include animate(fadeInLeft, 1s, .3s);
    }
  }

  &.hide {
    .title, .desc, .flower {
      @include animate(fadeOut, .6s, 0);
    }
  }
}

h3.title {
  font-size: 32px;
  color: #fff;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.desc {
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 1;
  p {
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.flower {
  width: 58%;
  position: absolute;
  right: 0;
  top: 0;
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .bg {
    height: calc(100vh - 60px);
  }

  .container {
    padding-top: 30px;
  }

  h3.title {
    font-size: 24px;
  }
  
  .desc {
    font-size: 12px;
  }

  .flower {
    width: 80%;
    right: -140px;
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .container {
    width: 90vw;
    padding-top: 30px;
  }

  h3.title {
    font-size: 24px;
    color: #000;
  }

  h3.desc {
    font-size: 16px;
    color: #000;
  }
  
  .desc {
    font-size: 12px;
    color: #000;
  }

  .scrollBg {
    height: calc(100vh - 45px);
    position: relative;
    overflow-x: scroll;
  }

  .mask {
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

    &.show {
      display: flex;
    }
  }

  .hand {
    margin-top: 20px;
    width: 60px;
  }

  .maskTitle {
    color: #fff;
    font-size: 24px;
    text-align: center;
  }

  .scrollImg {
    height: calc(100% - 5px);
  }

  .flower {
    width: 220px;
    position: absolute;
    right: 0;
    top: initial;
    bottom: -100px;
    z-index: 2;
  }
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .flower {
    width: 30%;
  }

  .container {
    padding-top: 160px;
  }
}
