@import '../../../assets/animate.scss';

.bg,
.ray {
  width: 100vw;
  height: calc(100vh - 80px);
  background-size: cover;
  background-position: center;
}

.bg {
  background-image: url('./bg.png');
  display: flex;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.ray {
  position: absolute;
  background-image: url('./ray.png');
  animation: commicSurprise 0.2s ease-in-out 0s infinite;
}

.leftEffect,
.rightEffect {
  position: absolute;
  height: 100%;

  img {
    display: block;
    position: absolute;
    z-index: 2;
    height: auto;
  }

  // 表情符號
  .like {
    width: 106px;
  }

  .laugh {
    width: 70px;
  }

  .love,
  .smile {
    width: 61px;
  }

  .flower {
    width: 58px;
    height: 61px;
  }

  .surprise {
    width: 90px;
  }
}

.leftEffect {
  left: 0;
  width: 20%;
  opacity: 0;
  transition: all .3s;
  &.show {
    opacity: 1;
  }

  &.hide {
    opacity: 0;
  }

  img {
    &:nth-child(1) {
      left: 20%;
      top: 14%;
      animation: emotionAnimationBig 3s linear 0.2s infinite;
    }

    &:nth-child(2) {
      left: 20px;
      top: 24%;
      animation: emotionAnimationBig 3s linear 0s infinite;
    }

    &:nth-child(3) {
      left: 13%;
      top: 47%;
      animation: emotionAnimationSmall 3s linear 0.7s infinite;
    }

    &:nth-child(4) {
      left: 24%;
      bottom: 20%;
      animation: emotionAnimationBig 3s linear 0.8s infinite;
    }

    &:nth-child(5) {
      left: 33%;
      bottom: 40%;
      animation: emotionAnimationSmall 3s linear 0.2s infinite;
    }

    &:nth-child(6) {
      left: 20%;
      bottom: 70%;
      animation: emotionAnimationSmall 3s linear 0.4s infinite;
    }

    &:nth-child(7) {
      left: 35%;
      bottom: 25%;
      animation: emotionAnimationSmall 3s linear 0.9s infinite;
    }

    &:nth-child(8) {
      left: 30%;
      bottom: 50%;
      animation: emotionAnimationBig 3s linear 0.3s infinite;
    }
  }

  // .like {
  //   left: 0;
  //   right: 0;
  //   margin: 0 auto;
  //   top: 20%;
  //   animation: emotionAnimationBig 3s linear 0s infinite;

  // }

  // .laugh {
  //   left: 10%;
  //   top: 50%;
  //   animation: emotionAnimationSmall 3s linear .4s infinite;
  // }

  // .flower {
  //   right: 20%;
  //   bottom: 40%;
  //   animation: emotionAnimationSmall 3s linear .8s infinite;
  // }

  // .love {
  //   left: 0;
  //   right: 0;
  //   margin: 0 auto;
  //   bottom: 20%;
  //   animation: emotionAnimationSmall 3s linear 1.2s infinite;
  // }
}

.rightEffect {
  right: 0;
  width: 30%;
  opacity: 0;

  &.show {
    @include animate(fadeInUp, 0.6s, 1s);
  }

  &.hide {
    @include animate(fadeOut, 1s, 0.2s);
  }

  img {
    &:nth-child(1) {
      left: 40%;
      top: 14%;
      animation: emotionAnimationSmall 3s linear 0.2s infinite;
    }

    &:nth-child(2) {
      left: 30%;
      top: 24%;
      animation: emotionAnimationBig 3s linear 0s infinite;
    }

    &:nth-child(3) {
      left: 63%;
      top: 47%;
      animation: emotionAnimationBig 3s linear 0.7s infinite;
    }

    &:nth-child(4) {
      left: 54%;
      bottom: 20%;
      animation: emotionAnimationSmall 3s linear 0.8s infinite;
    }

    &:nth-child(5) {
      left: 33%;
      bottom: 40%;
      animation: emotionAnimationSmall 3s linear 0.2s infinite;
    }

    &:nth-child(6) {
      left: 52%;
      bottom: 70%;
      animation: emotionAnimationSmall 3s linear 0.4s infinite;
    }

    &:nth-child(7) {
      left: 72%;
      bottom: 25%;
      animation: emotionAnimationSmall 3s linear 0.9s infinite;
    }

    &:nth-child(8) {
      left: 30%;
      bottom: 50%;
      animation: emotionAnimationSmall 3s linear 0.3s infinite;
    }
  }
}

.main {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  margin: 0 auto;
  z-index: 5;
}

.title {
  font-family: 'Noto Sans TC', serif;
  font-size: 45px;
  font-weight: bold;
  color: #f32218;
  position: absolute;
  bottom: 200px;
  width: 100%;
  text-align: center;
}

.bubbleChat {
  background-image: url('./bubbleChat.png');
  background-size: cover;
  position: absolute;
  z-index: 3;
  width: 596px;
  height: 548px;
  top: 50%;
  transform: translateY(-60%);
  left: 70px;
  opacity: 0;

  &.show {
    @include animate(spreadIn, 0.6s, 0.4s);
  }

  &.hide {
    @include animate(fadeOut, 1s, 0s);
  }
}

.brother {
  position: absolute;
  z-index: 3;
  width: 502px;
  height: auto;
  right: 0;
  bottom: 0;
  opacity: 0;

  &.show {
    @include animate(fadeInUp, 0.6s, 0s);
  }

  &.hide {
    @include animate(fadeOut, 1s, 0s);
  }
}

.link {
  position: absolute;
  right: 50px;
  bottom: 0;
}


/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .bubbleChat {
    left: 20px;
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .bubbleChat {
    width: 193px;
    height: 177px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(0);
    top: 20px;

    .title {
      font-size: 16px;
      bottom: 60px;
    }
  }

  .brother {
    width: 280px;
    right: -15px;
    bottom: 70px;
  }

  .link {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    margin: 0 auto;
    width: 166px;
  }

  .leftEffect {
    width: 200%;
    &.show {
      opacity: .5;
    }
  
    &.hide {
      opacity: 0;
    }
  }

  .rightEffect {
    display: none;
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}