@import '../../../assets/animate.scss';

.section4 {
  margin: 0 auto;
  .container {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 88px;
    width: 1050px;
  }
  .container-detail {
    display: flex;
    flex-wrap: wrap;
  }

  .detail-item {
    width: 20%;
    margin-bottom: 40px;
    opacity: 0;
    @for $i from 1 through 30 {
      &:nth-child(#{$i}) {
        &.show {
          @include animate(fadeIn, .6s, $i * 0.05s);
        }
        &.hide {
          @include animate(fadeOut, .6s, 0);
        }
      }
    }
    
    
    .item-icon-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
    
    .item-icon {
      width: 74px;
      height: auto;
    }
    .item-title {
      font-size: 20px;
      margin: 0 auto;
      position: relative;
      font-weight: normal;
    }
  }
}

/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .section4 {
    .container {
      width: 100%;
    }

    .container-detail {
      justify-content: center;
    }
    .detail-item {
      width: 340px;
    }
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .section4 {
    .container {
      width: 100%;
      margin-top: 40px;
    }

    .container-detail {
      justify-content: center;
    }

    .detail-item {
      width: 50%;
    }

    .item-title {
      font-size: 16px !important;
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}
