@import '../../../assets/animate.scss';

.slider {
  width: 859px;
  position: relative;

  .carousel,
  .descBg {
    opacity: 0;

    & {
      h3,
      p {
        opacity: 0;
      }
    }
  }

  &.show {
    .carousel {
      @include animate(fadeInRight, 0.8s, 0);
    }
    .descBg {
      @include animate(fadeInUp, 0.8s, 0.2s);
    }

    .descBg {
      h3,
      p {
        @include animate(fadeInUp, 0.8s, 0.6s);
      }
    }
  }
}

.descBg {
  width: 407px;
  height: 222px;
  background-image: url('../../../assets/img/section4/desc-bg.png');
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  padding: 30px 72px;
  bottom: 30px;
  right: -210px;

  h3 {
    font-size: 29px;
    color: #b50007;
    line-height: 1.5;
  }

  p {
    font-size: 17px;
    color: #333;
    line-height: 1.5;
  }
}

/* 螢幕尺寸標準 */
/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .slider {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
  }

  .descBg {
    width: 200px;
    height: 110px;
    padding: 0;
    position: absolute;
    left: calc(50% - 100px);
    bottom: -75px;

    h3 {
      font-size: 18px;
      text-align: center;
    }

    p {
      display: none;
    }
  }
}

/* 平板尺寸 */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .slider {
    width: 652px;
  }

  .descBg {
    width: 311px;
    height: 170px;
    padding: 15px 55px;

    h3 {
      font-size: 22px;
    }

    p {
      font-size: 13px;
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}
