@import '../../../assets/animate.scss';

.bg {
  width: 100vw;
  height: calc(100vh - 80px);
  background-size: cover;
  background-position: center;
  background-image: url('./bg.png');
  position: relative;
}

.leftTitle {
  width: 102px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 17%;
  font-size: 40px;
  color: #000;
  writing-mode: vertical-lr;
  opacity: 0;

  &.show {
    @include animate(fadeIn, 1s, 0s);
  }

  &.hide {
    @include animate(fadeOut, .6s, 0);
  }
}

.content {
  position: absolute;
  width: 370px;
  top: 50%;
  transform: translate(-15%, -50%);
  left: 0;
  right: 0;
  margin: 0 auto;

  &.show {
    .title {
      @include animate(fadeInUp, .8s, .4s);
    }

    .desc {
      @include animate(fadeInUp, .8s, .8s);
    }
    
  }

  &.hide {
    @include animate(fadeOut, .6s, 0);
  }
}

.title {
  font-size: 24px;
  color: #a99054;
  width: 100%;
  opacity: 0;
}

.desc {
  font-size: 16px;
  color: #2d436e;
  width: 96%;
  margin-top: 30px;
  line-height: 1.5;
  opacity: 0;
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .bg {
    height: calc(100vh - 60px);
  }

  .leftTitle {
    left: 13%;
    font-size: 32px;
  }

  .content {
    transform: translate(-7%, -50%);
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .bg {
    background: url('./mbg.png');
    width: 100vw;
    height: 897px;
  }

  .leftTitle {
    width: 75px;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    left: 25%;
    font-size: 32px;
  }

  .content {
    position: absolute;
    width: 300px;
    top: 50%;
    transform: translate(0%, -23%);
    left: 0;
    right: 0;
    margin: 0 auto;

    .title {
      letter-spacing: 3px;
    }

    .desc {
      width: 200px;
      font-size: 12px;
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}