@import '../../assets/animate.scss';

.preContainer {
  width: 932px;
  height: 464px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 80px;
  position: relative;

  // show hide
  .preTitle, .preImg {
    opacity: 0;
  }

  &.show {
    .preTitle {
      @include animate(fadeIn, .8s, 0s);
    }

    .preImg {
      @include animate(fadeIn, .8s, .3s);
    }
  }

  &.hide {
    .preTitle, .preImg {
      @include animate(fadeOut, .8s, 0s);
    }
  }

  .preTitle {
    width: auto;
    height: 146px;
    background-color: rgba(84, 148, 162, 0.56);
    padding: 16px 27px;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;

    h3 {
      font-size: 40px;
      line-height: 1.3;
      color: #fff;
    }
  }

  .preImg {
    width: 759px;
    height: 464px;
    position: absolute;
    right: 0;
    top: 0;

    img {
      width: 100%;
    }

    p {
      position: absolute;
      bottom: -20px;
      left: 40px;
      display: block;
      color: #fff;
      font-size: 40px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

      &.right {
        left: auto;
        right: 40px;
      }
    }
  }
}

.container {
  width: 932px;
  margin: 0 auto;  
}

.descContainer {
  // show hide
  .title, .desc {
    opacity: 0;
  }

  &.show {
    .title {
      @include animate(fadeIn, .8s, 0s);
    }

    .desc {
      @include animate(fadeIn, .8s, .3s);
    }
  }

  &.hide {
    .title, .desc {
      @include animate(fadeOut, .8s, 0s);
    }
  }

  .title {
    width: 100%;
    height: 57.8px;
    background-image: linear-gradient(to left, rgba(251, 221, 166, 0) 0%, #edd191 30%) ;
    
    padding-left: 20px;
    h3 {
      font-size: 32px;
      font-weight: 900;
      line-height: 1.72;
      color: #4a4d6d;
    }
  }

  .desc {
    margin-top: 15px;
    margin-bottom: 15px;
    p {
      text-align: center;
      font-size: 20px;
      line-height: 1.95;
      color: #fff;
    }
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .preContainer {
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 80px;
  }

  .descContainer {
    .title {
  
      h3 {
  
      }
    }
  
    .desc {
  
      p {
        
      }
    }
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .preContainer {
    width: 90%;
    height: 146px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
  
    .preTitle {
      width: 182px;
      height: 80px;
      padding: 10px;
      top: 20px;

      h3 {
        font-size: 20px;
        line-height: 1.3;
        color: #fff;
      }
    }
  
    .preImg {
      width: 227px;
      height: 139px;
      p {
        font-size: 18px;
        bottom: -10px;
        left: 10px;
      }
    }
  }

  .descContainer {
    width: 90%;
    .title {
      height: 32px;
      h3 {
        font-size: 16px;
      }
    }
  
    .desc {
  
      p {
        font-size: 12.5px;
        line-height: 1.5;
        margin-bottom: 10px;
      }
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
