@import '../../../assets/animate.scss';

.container {
  position: relative;
  img {
    width: 100vw;
    display: block;
  }

  .content {
    position: absolute;
    top: 20%;
    left: 15%;
    color: #fff;
    h3 {
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
    }
  }
}

.container > .content {
  h3, p {
    opacity: 0;
  }
}

.container {
  &.show {
    .content {
      h3 {
        @include animate(fadeInUp, 1s, 0s);
      }

      p {
        @include animate(fadeInUp, 0.8s, .6s);
      }
    }
  }

  &.hide {
    .content {
      h3 {
        @include animate(fadeOut, 0.8s, 0s);
      }

      p {
        @include animate(fadeOut, 0.8s, .6s);
      }
    }
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
