@import '../../components/Navigation/index.scss';

.fullScreen {
  width: 100%;
  overflow: hidden;
  height: 100vh;

  &.cutHeader {
    height: calc(100vh - #{$navigationPCHeight});
  }

  &.master {
    margin-top: $navigationPCHeight;
  }

  &.alignCenter {
    display: flex;
    align-items: center;
  }
}

/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .fullScreen {
    width: 100vw;
    height: 100vh;

    &.cutHeader {
      height: calc(100vh - #{$navigationTabletHeight});
      // margin-top: $navigationMobileHeight;
    }

    &.master {
      margin-top: $navigationTabletHeight;
    }
  }
}

/* 螢幕尺寸標準 */
/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .fullScreen {
    width: 100vw;
    height: calc(100vh - 70px);

    &.cutHeader {
      height: calc(100vh - #{$navigationMobileHeight} - 112px);
      // margin-top: $navigationMobileHeight;
    }

    &.master {
      margin-top: $navigationMobileHeight;
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}