@import '../../../assets/animate.scss';

.bg {
  width: 100vw;
  margin-top: 80px;
  display: block;
}

// show hide
.container {
  .logo1, .title1, .title2 {
    opacity: 0;
  }
  // @include animate(fadeIn, .8s, .4s);
  &.show {

    .logo1 {
      @include animate(fadeIn, 0.6s, .3s);
    }
    
    .title1 {
      @include animate(fadeIn, 0.6s, 0s);
    }

    .title2 {
      @include animate(fadeIn, 0.6s, .6s);
    }
  }

  &.hide {
    .logo1, .title1, .title2 {
      @include animate(fadeOut, 0.8s, 0s);
    }
  }
}

.container {
  position: relative;
  .logo1, .title1, .title2 {
    position: absolute;
    top: 0;
  }
}

.logo1 {
  left: 0;
  right: 0;
  width: 80px;
  margin: 0 auto;
  margin-top: 40px;
}

.logo2 {
  position: absolute;
  bottom: 67px;
  left: 10%;
  width: 163px;
}

.title1 {
  left: 0;
  right: 0;
  width: 80px;
  margin: 0 auto;
  margin-top: 70px;
  transform: translate(120px, -55px);
}

.title2 {
  left: 0;
  right: 0;
  width: 71px;
  margin: 0 auto;
  margin-top: 70px;
  transform: translate(-120px, 152px);
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .bg {
    margin-top: 60px;
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .bg {
    margin-top: 45px;
  }

  .logo1 {
    width: 60px;
  }

  .title1 {
    width: 60px;
    transform: translate(90px, -55px);
  }

  .title2 {
    width: 60px;
    transform: translate(-90px, 152px);
  }

  .logo2 {
    width: 110px;
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
