@import '../../../assets/animate.scss';

.bg {
  width: 100vw;
  margin-top: 80px;
  display: block;
}

// show hide
.container {
  .title1, .title2 {
    opacity: 0;
  }
  // @include animate(fadeIn, .8s, .4s);
  &.show {
    
    .title1 {
      @include animate(fadeIn, 1s, 0s);
    }

    .title2 {
      @include animate(fadeIn, 1s, .6s);
    }
  }

  &.hide {
    .logo1, .title1, .title2 {
      @include animate(fadeOut, 0.8s, 0s);
    }
  }
}

.section1 {
  width: 100%;
  height: 100vh;
  margin-top: 80px;
  overflow: hidden;
  position: relative;
}
.img1,
.img2,
.img3,
.img31,
.img4 {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.img1,
.img2 {
  white-space: nowrap;
  animation: cloud 60s linear reverse infinite;
}
.img2 {
  animation-duration: 30s;
}
.img3 {
  top: 30%;
  animation: pc_01 1s forwards;
}
.img4 {
  top: -10%;
  width: 100%;
  text-align: center;
  animation: pc_01 1s forwards;
}
.img1 img,
.img2 img {
  height: 100%;
}
.img3 img,
.img31 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img4 img {
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.img5 img {
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@keyframes cloud {
  to {
    transform: translateX(-50%);
  }
}
@keyframes pc_01 {
  to {
    top: 0;
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .bg {
    margin-top: 60px;
  }

  .section1 {
    margin-top: 60px;
    height: calc(100vh - 60px);
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .bg {
    margin-top: 45px;
  }

  .section1 {
    margin-top: 45px;
    height: calc(100vh - 105px);
  }

  .logo1 {
    width: 60px;
  }

  .title1 {
    width: 60px;
    transform: translate(90px, -55px);
  }

  .title2 {
    width: 60px;
    transform: translate(-90px, 152px);
  }

  .logo2 {
    width: 110px;
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
