@import '../../assets/animate.scss';

.mask {
  background-color: #fff;
  // background-image: url('../../projects/dyc/Master/bg.png');
  background-size: cover;
  // animation: commicSurprise 0.2s ease-in-out 0s infinite;
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;

  p {
    @include animate(fadeInUp, .8s, .0s);
    color: #000;
    margin-top: 20px;
    font-size: 22px;
  }

  .icon {
    width: 100px;
    height: auto;
    @include animate(fadeInUp, .8s, .0s);
    svg {
      fill: #000;
    }

  }
}

@media only screen and (max-device-width: 1030px) and (min-device-width: 768px) and (orientation: portrait) {
  .mask {
    display: flex !important;
  }
}