@import '../../../assets/animate.scss';

.bg {
  background-color: #2d436e;
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.leftFlower, .rightFlower {
  position: absolute;
}

.leftFlower {
  left: 0;
  bottom: -100px;
  width: 500px;
}

.rightFlower {
  right: 0;
  top: 50px;
  width: 302px;
  z-index: 2;
}

.container {
  width: 980px;
}

.title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  opacity: 0;
  &.show {
    @include animate(fadeIn, .8s, .0s);
  }

  &.hide {
    @include animate(fadeOut, .6s, 0);
  }
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sideBar {
  img {
    width: 44px;
    height: 28px;
    margin: 0 10px;
  }
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    opacity: 0;
    .label {
      width: 167px;
      height: 53px;
      background-color: transparent;
      border-bottom: 2px solid #c7b39f;
      padding-left: 20px;
      display: flex;
      align-items: center;
      transition: all .5s;

      h3 {
        font-size: 20px;
        color: #fff;
        transition: all .5s;
      }

      &:hover {
        background-color: #c7b39f;
        
        h3 {
          color: #2d436e;
        }
      }
    }
  }

  &.show {
    .item {
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          @include animate(fadeInUp, .4s, $i * 0.1s);
        }
      }
    }
  }

  &.hide {
    .item {
      @include animate(fadeOut, .5s, 0s);
    }
  }
}

.slider {
  position: relative;
  height: 565px;
  width: 582px;
  opacity: 0;
  &.show {
    @include animate(fadeInUp, .8s, .6s);
  }

  &.hide {
    @include animate(fadeOut, .6s, 0);
  }
}

.blockWhite {
  width: 582px;
  height: 415px;
  background-color: #fff;
  padding: 15px 26px 15px 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  .blockTitle {
    color: #000;
    font-size: 24px;
    margin-bottom: 15px;
  }

  .blockDesc {
    font-size: 16px;
    color: #000;
    line-height: 1.5;
  }
}

.blockImg {
  width: 580px;
  position: absolute;
  top: 170px;
  right: 50px;
  z-index: 2;
  box-shadow: -2px 2px 5px 0 #333;
}

.blockYellow {
  width: 522px;
  height: 318px;
  background-color: #c7b39f;
  position: absolute;
  right: 140px;
  top: 300px;
  top: 270px;
  z-index: 1;
}

.blockLabel {
  position: absolute;
  width: 152px;
  height: 46px;
  line-height: 46px;
  background: #c7b39f;
  text-align: center;
  display: none;
  color: #2d436e;
  font-size: 16px;
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .bg {
    height: calc(100vh - 60px);
  }
  .leftFlower {
    width: 360px;
  }
  
  .rightFlower {
    width: 202px;
  }

  .sideBar {
    img {
      width: 44px;
      height: 28px;
    }

    .item {
      .label {
        width: 167px;
        height: 53px;
      }
    }
  }

  .slider {
    position: relative;
    height: 459px;
    width: 582px;
  }

  .blockWhite {
    width: 566px;
    height: 380px;
    top: 0;
    right: 30px;
    padding: 15px 16px 15px 23px;
    .blockTitle {
      font-size: 24px;
      margin-bottom: 15px;
    }
  
    .blockDesc {
      font-size: 16px;
    }
  }
  
  .blockImg {
    width: 440px;
    top: 142px;
    right: 200px;
  }
  
  .blockYellow {
    width: 533px;
    height: 209px;
    right: 140px;
    top: 249px;
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .bg {
    height: calc(100vh - 45px);
  }

  .title {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .leftFlower {
    display: none;
  }
  
  .rightFlower {
    display: none;
  }

  .sideBar {
    display: none;
  }

  .slider {
    position: relative;
    height: 400px;
    width: 100%;
  }

  .blockWhite {
    width: 233px;
    height: 296px;
    top: 0;
    right: 30px;
    padding: 15px 16px 15px 23px;
    .blockTitle {
      font-size: 16px;
      margin-bottom: 15px;
    }
  
    .blockDesc {
      font-size: 12px;
    }
  }
  
  .blockImg {
    width: 303px;
    top: 185px;
    right: 15px;
  }
  
  .blockYellow {
    width: 273px;
    height: 166px;
    right: auto;
    left: 20px;
    bottom: 0px;
    top: initial;
  }

  .blockLabel {
    position: absolute;
    width: 125px;
    height: 35px;
    line-height: 35px;
    background: #c7b39f;
    text-align: center;
    display: block;
    color: #2d436e;
    font-size: 18px;
    left: -40px;
    top: -23px;
  }

  .control {
    background: url('./chevron-right.png');
    width: 148px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    margin: 0 auto;

    .left, .right {
      width: 20px;
      height: 20px;
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  .leftFlower {
    width: 420px;
  }
  
  .rightFlower {
    width: 202px;
  }

  .sideBar {
    img {
      width: 44px;
      height: 28px;
    }

    .item {
      .label {
        width: 167px;
        height: 53px;
      }
    }
  }

  .slider {
    position: relative;
    height: 459px;
    width: 582px;
  }

  .blockWhite {
    width: 566px;
    height: 380px;
    top: 0;
    right: 0px;
    padding: 15px 13px 15px 23px;
    .blockTitle {
      font-size: 24px;
      margin-bottom: 15px;
    }
  
    .blockDesc {
      font-size: 16px;
    }
  }
  
  .blockImg {
    width: 440px;
    top: 142px;
    right: 200px;
  }
  
  .blockYellow {
    width: 533px;
    height: 209px;
    right: 140px;
    top: 249px;
  }
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .slider > div, .slider > .blockImg {
    transform: scale(0.8);
  }
}