@import '../../../assets/animate.scss';
@import '../../../components/Navigation/index.scss';

.bg {
  margin-top: $navigationPCHeight;

  &.show {
    .title1 {
      @include animate(fadeIn, .5s, 0s);
    }

    .title2, .title2m {
      @include animate(fadeIn, .5s, .2s);
    }

    .title3 {
      @include animate(fadeIn, .5s, .4s);
    }

    .title4 {
      @include animate(fadeInUp, .5s, .8s);
    }
  }

  &.hide {
    .title1, .title2, .title2m, .title3, .title4 {
      @include animate(fadeOut, .5s, 0s);
    }  
  }

  .container {
    position: relative;
    min-height: calc(100vh - 145px);
  }

  .title1, .title2, .title2m, .title3, .title4 {
    position: absolute;
    opacity: 0;
  }

  .title1 {
    right: 40px;
    top: 30px;
    width: 400px;
  }

  .title2 {
    right: 155px;
    width: 280px;
    top: 270px;
  }

  .title3 {
    right: 40px;
    width: 400px;
    top: 350px;
  }

  .title4 {
    right: 40px;
    width: 170px;
    bottom: 50px;
  }

  .bgImg {
    width: 100vw;
    height: auto;
    display: block;
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .bg {
    margin-top: $navigationTabletHeight;
    .title1 {
      right: 40px;
      top: 30px;
      width: 250px;
    }
  
    .title2 {
      right: 110px;
      width: 180px;
      top: 180px;  
    }
  
    .title3 {
      right: 40px;
      width: 250px;
      top: 230px;
    }
  
    .title4 {
      right: 40px;
      width: 150px;
      bottom: 50px;
    }

  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .bg {
    margin-top: 45px;
  
    .container {
      position: relative;
      overflow: hidden;
      min-height: 50vh;
    }
  
    .title1, .title2, .title3, .title4 {
      position: absolute;
    }
  
    .title1 {
      width: 75px;
      right: 10px;
      top: 60px;
    }
  
    .title2 {
      width: 60px;
      bottom: 140px;
      right: 10px;
      top: auto;
    }
  
    .title3 {
      left: auto;
      margin: 0;
      right: 10px;
      width: 130px;
      top: auto;
      bottom: 120px;  
    }

    .title4 {
      right: 10px;
      width: 100px;
      top: auto;
      bottom: 80px;
      left: auto;
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
