@import '../../../assets/animate.scss';
@import '../../../components/Navigation/index.scss';

.bg {
  background: #fff;
  box-shadow: inset 25px 0px 0 0px #e37539;
  padding-top: $navigationPCHeight;

  &.show {
    .title1 {
      @include animate(fadeIn, .5s, 0s);
    }

    .title2, .title2m {
      @include animate(fadeIn, .5s, .2s);
    }

    .title3 {
      @include animate(fadeIn, .5s, .4s);
    }

    .house {
      @include animate(fadeInUp, .5s, .8s);
    }
  }

  &.hide {
    .title1, .title2, .title2m, .title3, .house {
      @include animate(fadeOut, .5s, 0s);
    }  
  }

  .container {
    position: relative;
    height: calc(100vw * 0.5);
  }

  .title1, .title2, .title2m, .title3, .house {
    position: absolute;
    opacity: 0;
  }

  .title1 {
    width: 12%;
    left: 80px;
    top: 30px;
  }

  .title2 {
    width: 310px;
    bottom: 40px;
    left: 80px;
  }

  .title3 {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 357px;
    top: 50px;
  }

  .house {
    width: 21%;
    bottom: -5px;
    right: 11%;
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .bg {
    padding-top: $navigationTabletHeight;
    .container {
      height: calc(100vw * 0.5);
    }
    .title1 {
      width: 150px;
      left: 100px;
      top: 50px;
    }
  
    .title2 {
      width: 200px;
      bottom: 100px;
      left: 100px;
    }
  
    .title3 {
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 220px;
      top: 50px;
    }
  
    .house {
      width: 250px;
      bottom: -5px;
      right: 50px;
    }
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .bg {
    background: #fff;
    box-shadow: inset 10px 0px 0 0px #e37539;
    padding-top: 0;
    overflow: hidden;
  
    .container {
      position: relative;
      height: 100vh;
      overflow: hidden;
    }
  
    .title1, .title2, .title3, .house {
      position: absolute;
    }
  
    .title1 {
      width: 100px;
      left: 20px;
      top: 50px;
    }
  
    .title2 {
      width: 90px;
      bottom: 40px;
      left: 20px;
    }

    .title2m {
      width: 90px;
      bottom: 60px;
      left: 20px;
    }
  
    .title3 {
      left: auto;
      margin: 0;
      right: 20px;
      width: 162px;
      top: 50px;
    }
  
    .house {
      width: 160px;
      bottom: -5px;
      right: 20px;
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
