.imgGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 445px;
  margin: 0 auto;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Noto Serif TC', serif;
}