@import '../../../assets/animate.scss';
.container {
  width: 880px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main {
  width: 50%;
  margin-bottom: 15px;
  img,
  .content {
    opacity: 0;

    & {
      h3,
      p {
        opacity: 0;
      }
    }
  }

  &.show {
    img {
      @include animate(fadeInUp, 1s, 0);
    }

    .content {
      @include animate(fadeInUp, 0.8s, 0.2s);
    }

    .content {
      h3,
      p {
        @include animate(fadeInUp, 0.6s, 0.6s);
      }
    }
  }

  &.hide {
    &.right img {
      @include animate(fadeOutRight, 1s, 0);
    }

    &.left img {
      @include animate(fadeOutLeft, 1s, 0);
    }

    .content {
      @include animate(fadeOutUp, 0.8s, 0);
    }

    .content {
      h3,
      p {
        @include animate(fadeOutUp, 0.6s, 0);
      }
    }
  }

  img {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    width: 407px;
    height: 263px;
    margin-bottom: 30px;
  }
  .content {
    width: 407px;
    position: relative;
    margin: 0 auto;
    h3 {
      font-size: 24px;
      color: #fff;
      text-align: center;
      line-height: 1.5;
    }
    p {
      font-size: 20px;
      color: #fff;
      line-height: 1.5;
    }
  }
}


/* 螢幕尺寸標準 */

/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    width: 100%;
    justify-content: center;
  }
  .title {
    font-size: 34px;
    line-height: 44px;
  }
  .main {
    width: 375px;
    margin-bottom: 14px;
    img {
      width: 257px;
      height: auto;
    }
    .content {
      width: 257px;
      height: auto;
      padding: 0px;
      h3 {
        font-size: 20px;
        margin-bottom: 4px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
    justify-content: center;
  }
  .title {
    font-size: 23px;
    line-height: 25px;
  }
  .main {
    width: 375px;
    margin-bottom: 14px;
    img {
      width: 257px;
      height: auto;
    }
    .content {
      width: 257px;
      height: auto;
      padding: 0px;
      h3 {
        font-size: 20px;
        margin-bottom: 4px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}
