@import '../../../assets/animate.scss';

.bg, .triangle {
  width: 100vw;
  display: block;
  position: absolute;
  top: 0;
}

.bg {
  min-height: 710px;
}

.triangle {
  z-index: 1;
}

.container {
  position: relative;
  overflow: hidden;

  .content {
    width: 1200px;
    height: 710px;
    position: relative;
    margin: 0 auto;
    padding: 120px 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bone {
    width: 451px;
  }

  .dialogBox {
    width: 643px;
    color: #fff;

    .head {
      font-size: 40px;
      font-weight: 500;
      height: 64px;
      background-color: #fff;
      color: rgba(43, 70, 111, 1);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 20px;
    }

    .body {
      background: rgba(255, 255, 255, 0.8);
      font-size: 24px;
      line-height: 1.7;
      font-weight: normal;
      color: #2b466f;
      padding: 25px 15px;
    }
  }
}

.container {

  .triangle, .bone {
    opacity: 0;
  }

  .dialogBox {
    .head, .body {
      opacity: 0;
    }
  }
}

.container {
  &.show {
    .triangle {
      @include animate(fadeInUp, .6s, 0s);
    }

    .bone {
      @include animate(fadeInUp, 1s, .3s);
    }
    .dialogBox {
      .head {
        @include animate(fadeInLeft, 1s, .6s);
      }

      .body {
        @include animate(fadeInLeft, 0.8s, .9s);
      }
    }
  }

  &.hide {
    .triangle {
      @include animate(fadeOut, 0.8s, 0s);
    }

    .bone {
      @include animate(fadeOut, 0.8s, 0s);
    }
    .dialogBox {
      .head {
        @include animate(fadeOut, 0.8s, 0s);
      }

      .body {
        @include animate(fadeOut, 0.8s, 0s);
      }
    }
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {

    .content {
      width: 90vw;
    }
    .bone {
      width: 350px;
    }

    .dialogBox {
      width: 550px;
    }
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;

    .content {
      width: 100%;
      height: 612px;
      flex-wrap: wrap;
      padding: 40px 0;

      .bone {
        width: 180px; 
        margin: 0 auto;
      }

      .dialogBox {
        width: 90%;
        margin: 0 auto;

        .head {
          font-size: 22px;
        }

        .body {
          font-size: 16px;
        }
      }
    }

    .bg {
      min-height: 612px;
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
