@import '../../../assets/animate.scss';

@keyframes showHide {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.day {
  // animation: showHide 5s linear 0s infinite;
}

.night {
  position: absolute;
  top: 0;
  animation: showHide 8s linear 0s infinite;
}
.container {
  position: relative;
  img {
    width: 100vw;
    display: block;
  }

  .dialogBox {
    position: absolute;
    width: 532px;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    color: #fff;

    .head {
      font-size: 40px;
      font-weight: 500;
      height: 64px;
      background-color: rgba(43, 70, 111, .5);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .body {
      background: rgba(255, 255, 255, 0.6);
      font-size: 24px;
      line-height: 1.7;
      color: #2b466f;
      padding: 25px 15px;
      font-weight: normal;
    }
  }
}

.container > .dialogBox {
  .head, .body {
    opacity: 0;
  }
}

.container {
  &.show {
    .dialogBox {
      .head {
        @include animate(fadeInUp, 1s, 0s);
      }

      .body {
        @include animate(fadeInUp, 0.8s, .6s);
      }
    }
  }

  &.hide {
    .dialogBox {
      .head {
        @include animate(fadeOut, 0.8s, 0s);
      }

      .body {
        @include animate(fadeOut, 0.8s, 0s);
      }
    }
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .container {
    width: auto;

    .dialogBox {
      width: 205px;
      .head {
        font-size: 22px;
        line-height: 1.4;
      }
      .body {
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
