@import '../../../assets/animate.scss';

.bg {
  width: 100vw;
  display: flex;
  justify-content: space-between;

  .item,
  .title,
  .desc {
    opacity: 0;
  }

  &.show {
    .active.item {
      @include animate(fadeInUp, 0.5s, 0.3s);

      .title {
        @include animate(fadeInUp, 0.5s, 0.6s);
      }
  
      .desc {
        @include animate(fadeInUp, 0.5s, 1.2s);
      }
    }
  }

  &.hide {
    .item,
    .title,
    hr,
    .desc {
      @include animate(fadeOut, 0.6s, 0);
    }
  }
}

.bg {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #fff;

  .container {
    width: 1100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .item {
    width: 1100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.8s;
    // &.active {
    //   opacity: 1;
    // }

    .frame {
      width: 600px;
      height: 400px;
      background: #bb926d;
    }

    .itemImg {
      width: 600px;
      height: 400px;
      transform: translate(-25px, -25px);
    }

    .text {
      width: 400px;
    }

    .title {
      width: 100%;
      font-size: 26px;
      text-align: left;
      margin-bottom: 30px;
      color: #fff;
      text-shadow: 0 0 2px #000;
    }

    .desc {
      width: 100%;
      font-size: 16px;
      text-align: justify;
      color: #fff;
      text-shadow: 0 0 1px #000;
    }
  }

  .leftBtn, .rightBtn {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: rgba(187, 146, 109, .6);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    img {
      width: 30px;
      height: auto;
      display: block;
      margin-left: -5px;
    }
  }

  .rightBtn {
    right: 20px;
    left: auto;

    img {
      margin-right: -5px;
    }
  }

  .slideImg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.8s;
    &.active {
      opacity: 1;
    }
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

  .slider {
    .container {
      width: 800px;
    }
  
    .item {
      width: 800px;
      // &.active {
      //   opacity: 1;
      // }
  
      .frame {
        width: 465px;
        height: 311px;
        background: #bb926d;
      }
  
      .itemImg {
        width: 465px;
        height: 311px;
        transform: translate(-20px, -20px);
      }
  
      .text {
        width: 300px;
      }
  
      .title {
        width: 100%;
      }
  
      .desc {
        font-size: 16px;
      }
    }
  
    .leftBtn, .rightBtn {
      width: 56px;
      height: 56px;
      img {
        width: 20px;
      }
    }
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .slider {
    .container {
      width: 90%;
    }
  
    .item {
      width: 90%;
      margin: 0 auto;
      flex-wrap: wrap;
      left: 0;
    right: 0;
      // &.active {
      //   opacity: 1;
      // }
  
      .frame {
        width: 85vw;
        height: 206px;
        margin: 0 auto;
      }
  
      .itemImg {
        width: 85vw;
        height: 206px;
        margin: 0 auto;
        transform: translate(-10px, -10px);
      }
  
      .text {
        width: 85vw;
        height: 228px;
        margin: 0 auto;
      }
  
      .title {
        width: 100%;
      }
  
      .desc {
        font-size: 16px;
      }
    }
  
    .leftBtn, .rightBtn {
      width: 56px;
      height: 56px;
      margin-top: -118px;
      img {
        width: 20px;
      }
    }

    .leftBtn {
      lefT: 10px;
    }

    .rightBtn {
      right: 10px;
    }

    .slideImg {
      width: auto;
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
