@import '../layouts/index.scss';

.thanks {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  // background-image: linear-gradient(to top, rgba(0, 0, 0, 0.24), rgba(156, 30, 35, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    font-size: 36px;
    color: #fbdda6;
  }

  p {
    font-size: 24px;
    color: #fbdda6;
  }
  
  a {
    color: #fbdda6 !important;
    width: 270px !important;
  }
}

.close {
  font-size: 36px;
  position: fixed;
  right: 50%;
  top: 15%;
  transform: translateX(500px);
  z-index: 300;
  color: #ccc;
  display: none;
  cursor: pointer;
  &.show {
    display: block;
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .close {
    font-size: 36px;
    position: fixed;
    right: 50%;
    top: 5%;
    transform: translateX(45vw);
    z-index: 300;
    color: #ccc;
    display: none;
    cursor: pointer;
    &.show {
      display: block;
    }
  }
}