@import '../../../assets/animate.scss';

.preContainer {
  width: 932px;
  height: 464px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 80px;
  position: relative;

  .preTitle {
    width: 467px;
    height: 146px;
    background-color: rgba(84, 148, 162, 0.56);
    padding: 16px 27px;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 1;

    h3 {
      font-size: 40px;
      line-height: 1.3;
      color: #fff;
    }
  }

  .preImg {
    width: 759px;
    height: 464px;
    background-image: url('./preImg.jpg');
    background-size: cover;
    position: absolute;
    right: 0;
    top: 0;

    p {
      position: absolute;
      bottom: -20px;
      left: 40px;
      display: block;
      color: #fff;
      font-size: 40px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}

.container {
  width: 932px;
  margin: 0 auto;

  .title {
    width: 100%;
    height: 57.8px;
    background-image: linear-gradient(to left, rgba(251, 221, 166, 0), #edd191);
    padding-left: 20px;
    h3 {
      font-size: 32px;
      font-weight: 900;
      line-height: 1.72;
      color: #4a4d6d;
    }
  }

  .desc {

    p {

    }
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .preContainer {
    width: 932px;
    margin: 0 auto;
    margin-bottom: 80px;
  
    .preTitle {
      
      h3 {

      }
    }
  
    .preImg {
     
      p {

      }
    }
  }

  .container {
    .title {
  
      h3 {
  
      }
    }
  
    .desc {
  
      p {
        
      }
    }
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .preContainer {
    width: 932px;
    margin: 0 auto;
    margin-bottom: 80px;
  
    .preTitle {
      
      h3 {

      }
    }
  
    .preImg {
     
      p {
        
      }
    }
  }

  .container {
    .title {
  
      h3 {
  
      }
    }
  
    .desc {
  
      p {
        
      }
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
