.fixLink {
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  img {
    width: 80px;
    height: 80px;
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .fixLink {
    right: 10px;
    bottom: 10px;
    img {
      width: 80px;
      height: 80px;
    }
  }
}
