.carousel {
}

:global {

  /* 手機尺寸 */
  @media only screen and (max-width: 767px) {
    // .slick-arrow {
    //   display: none !important;
    // }
  }
  /* 平板尺寸 */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .slick-arrow {
      width: 40px !important;
      height: 40px !important;
    }
  }

  .slick-dots {
    li button:before {
      font-size: 16px;
      color: #d4d4d4;
      opacity: 1;
    }

    .slick-active button:before {
      font-size: 16px;
      color: #2d436e !important;
      opacity: 1;
    }
  }

  .slick-prev {
    left: -40px;
  }

  .slick-next {
    right: -40px;
}

  .slick-prev:before, .slick-next:before {
    font-size: 40px;
  }

  /* 手機尺寸 */
  @media only screen and (max-width: 767px) {
    // .slick-dots {
    //   display: none !important;
    // }
  }
}
