@import '../../../assets/animate.scss';

.container {
  width: 932px;
  margin: 0 auto;  
}

.itemsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;

  .item {
    width: 23%;
    margin-bottom: 15px;
    img {
      width: 100%;
      margin-bottom: 10px;
    }
    
    .itemTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      height: 32px;
      color: #fff;
      font-weight: bold;
      background-color: #aa875c;
      margin-bottom: 10px;
    }

    .itemDesc {
      font-size: 14px;
      color: #fff;
      line-height: 1.5;
      text-align: center;
    }
  }
}


/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
