@import '../../../assets/animate.scss';

.bg {
  width: 100vw;
  background: #7ccbd8;
}

.main {
  width: 950px;
  margin: 0 auto;
  padding-top: 220px;
  padding-bottom: 100px;
  position: relative;
  z-index: 3;
}

.leftEffect, .rightEffect {
  position: fixed;
  width: calc(50vw - 475px);
  opacity: .5;
  height: 100%;
  top: 0;
  transition: all .3s;
  img {
    display: block;
    position: absolute;
    z-index: 2;
    height: auto;
    opacity: 0;
  }

  // 表情符號
  .like {
    width: 70px;
  }

  .laugh {
    width: 70px;
  }

  .love,
  .smile {
    width: 70px;
  }
}

.leftEffect {
  left: 0;
  img {
    &:nth-child(1) {
      left: 20%;
      top: 14%;
      animation: emotionAnimationBig 3s linear 0.2s infinite;
    }

    &:nth-child(2) {
      left: 20px;
      top: 24%;
      animation: emotionAnimationBig 3s linear 0s infinite;
    }

    &:nth-child(3) {
      left: 13%;
      top: 47%;
      animation: emotionAnimationSmall 3s linear 0.7s infinite;
    }

    &:nth-child(4) {
      left: 24%;
      bottom: 20%;
      animation: emotionAnimationBig 3s linear 0.8s infinite;
    }

    &:nth-child(5) {
      left: 33%;
      bottom: 40%;
      animation: emotionAnimationSmall 3s linear 0.2s infinite;
    }

    &:nth-child(6) {
      left: 20%;
      bottom: 70%;
      animation: emotionAnimationSmall 3s linear 0.4s infinite;
    }

    &:nth-child(7) {
      left: 35%;
      bottom: 25%;
      animation: emotionAnimationSmall 3s linear 0.9s infinite;
    }

    &:nth-child(8) {
      left: 30%;
      bottom: 50%;
      animation: emotionAnimationBig 3s linear 0.3s infinite;
    }
  }
}

.rightEffect {
  right: 0;

  img {
    &:nth-child(1) {
      left: 40%;
      top: 14%;
      animation: emotionAnimationSmall 3s linear 0.2s infinite;
    }

    &:nth-child(2) {
      left: 30%;
      top: 24%;
      animation: emotionAnimationBig 3s linear 0s infinite;
    }

    &:nth-child(3) {
      left: 63%;
      top: 47%;
      animation: emotionAnimationBig 3s linear 0.7s infinite;
    }

    &:nth-child(4) {
      left: 54%;
      bottom: 20%;
      animation: emotionAnimationSmall 3s linear 0.8s infinite;
    }

    &:nth-child(5) {
      left: 33%;
      bottom: 40%;
      animation: emotionAnimationSmall 3s linear 0.2s infinite;
    }

    &:nth-child(6) {
      left: 52%;
      bottom: 70%;
      animation: emotionAnimationSmall 3s linear 0.4s infinite;
    }

    &:nth-child(7) {
      left: 72%;
      bottom: 25%;
      animation: emotionAnimationSmall 3s linear 0.9s infinite;
    }

    &:nth-child(8) {
      left: 30%;
      bottom: 50%;
      animation: emotionAnimationSmall 3s linear 0.3s infinite;
    }
  }
}

.task1,
.task2,
.task3 {
  position: relative;
}

.task1 {
  background-image: url('./task1.png');
  width: 949px;
  height: 487px;
  display: flex;
  justify-content: center;
  padding: 80px 30px;
  margin-bottom: 30px;

  .steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .item {
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon1,
    .icon2,
    .icon3 {
      margin-bottom: 15px;
      img {
        width: 100%;
        height: auto;
      }
    }

    .icon1 {
      width: 86px;
      height: 102px;
    }
    .icon2,
    .icon3 {
      width: 102px;
      height: 102px;
    }

    .desc {
      width: 100%;
      font-weight: bold;
      text-align: center;
      font-size: 20px;
      color: #000;
    }
  }
}

.task2 {
  background-image: url('./task2.png');
  width: 949px;
  height: 563px;
  display: flex;
  justify-content: space-around;
  padding: 80px 30px;
  margin-bottom: 30px;

  .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .carousel {
    width: 308px;
    height: 380px;
    background: #fff;
    padding: 28px 15px;
    position: relative;
    .carouselTitle {
      font-size: 18px;
      color: #0047af;
      margin-bottom: 23px;
    }

    .carouselBubble {
      background-image: url('./bubble.png');
      width: 120px;
      height: 72px;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: -35px;
      right: 25px;
      padding-top: 20px;
      h2 {
        color: #fff;
        font-size: 18px;
        transform: rotate(3deg);
        text-align: center;
      }
    }

    .carouselDesc {
      margin-top: 23px;
      font-size: 16px;
      color: #4b4b4b;
    }
  }

  .item {
    width: 440px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .desc {
      width: 100%;
      font-weight: bold;
      text-align: center;
      font-size: 20px;
      color: #000;
      line-height: 1.4;
    }

    .label {
      margin-bottom: 5px;
    }
  }
}

.task3 {
  background-image: url('./task3.png');
  width: 949px;
  height: 502px;
  padding-top: 8px;
  margin-bottom: 130px;
  margin-top: 200px;
}

.titleBg {
  width: 493px;
  height: 141px;
  background-image: url('./titleBg.png');
  color: #f32218;
  padding-left: 65px;
  padding-top: 20px;
  display: flex;
  position: absolute;
  left: -4px;
  top: -80px;

  .number {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./number.png');
    background-size: cover;
    position: absolute;
    left: -64px;
    top: -10px;
    font-size: 90px;
    color: #fff;

    opacity: 0;

    &.show {
      @include animate(fadeInUp, 0.6s, 0s);
    }

    &.hide {
      @include animate(fadeOut, 1s, 0s);
    }
  }

  .desc {
    opacity: 0;

    &.show {
      @include animate(spreadIn, 0.6s, 0.2s);
    }

    &.hide {
      @include animate(fadeOut, 1s, 0s);
    }
  }

  h2 {
    font-size: 36px;
  }

  p {
    font-size: 22.5px;
  }
}

.brother1 {
  width: 205px;
  position: absolute;
  left: 58px;
  right: 0;
  margin: 0 auto;
  top: -150px;
}

.brother11 {
  width: 231px;
  position: absolute;
  right: -144px;
  bottom: -50px;
  margin: 0 auto;
}

.brother2 {
  width: 272px;
  position: absolute;
  left: 73px;
  right: 0;
  margin: 0 auto;
  top: -128px;
}

.brother3 {
  width: 251px;
  position: absolute;
  left: 73px;
  right: 0;
  margin: 0 auto;
  top: -128px;
}

.brother31 {
  width: 233px;
  position: absolute;
  right: -55px;
  bottom: -30px;
  margin: 0 auto;
  z-index: 1;
}

.taskHint1,
.taskHint2,
.taskHint3 {
  position: absolute;
  padding: 5px 20px;
  background-position: center;
  background-size: cover;
  h3 {
    color: #e92c0c;
    font-size: 22.5px;
    text-align: center;
    line-height: 1.2;
  }

  p {
    color: #636363;
    font-size: 18px;
    text-align: center;
    line-height: 1.2;
  }
}

.taskHint1 {
  background-image: url('./taskHint1.png');
  width: 375px;
  height: 203px;
  right: 0;
  top: -115px;

  h3 {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 15px;
    line-height: 1.2;
  }
}

.taskHint2 {
  background-image: url('./taskHint2.png');
  width: 307px;
  height: 120px;
  right: 0;
  top: -135px;
  padding: 32px 13px;

  p {
    margin-bottom: 5px;
    line-height: 1.2;
    transform: rotate(5deg);
  }
}

.taskHint3 {
  background-image: url('./taskHint3.png');
  width: 470px;
  height: 194px;
  right: -163px;
  top: -115px;
  padding: 30px 0px 0 40px;

  h3 {
    margin-bottom: 15px;
    text-align: left;
  }

  p {
    margin-bottom: 15px;
    text-align: left;
    line-height: 1.2;
  }
}

.taskLabel {
  color: #e92c0c;
  font-size: 22.5px;
  font-weight: bold;
  position: absolute;
  left: 70px;
}

.label {
  width: 125px;
  height: 40px;
  line-height: 40px;
  border-radius: 20.5px;
  background-color: #ffffff;
  font-size: 20px;
  color: #0047af;
  text-align: center;
  margin-bottom: 37px;
}

.arrowRight {
  margin: 0;
  margin-top: 50px;
}

.fbDesc {
  width: 862px;
  line-height: 1.33;
  font-size: 18px;
  color: #404040;
  margin-top: 15px;
  margin-bottom: 270px;
  text-align: center;
}

.mapTitle {
  padding: 15px 40px;
  background-image: url('./mapTitle.png');
  background-size: cover;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 312px;
  height: 150px;

  h2 {
    font-size: 36px;
    color: #636363;
  }
}

.map {
  width: 919px;
  height: 610px;
  background-image: url('./map.png');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.ps {
  position: absolute;
  bottom: 50px;
  font-size: 18px;
  color: #636363;
  text-align: center;
  width: 100%;
}

.task1 {
  .brother1,
  .taskHint1 h3,
  .taskHint1 p,
  .taskLabel,
  .steps > *,
  .brother11 {
    opacity: 0;
  }

  &.show {
    .brother1 {
      @include animate(fadeInUp, 0.6s, 0s);
    }

    .taskHint1 {
      h3,
      p {
        @include animate(fadeInUp, 0.6s, 0.2s);
      }
    }

    .taskLabel {
      @include animate(fadeInUp, 0.6s, 0.4s);
    }

    .steps > * {
      &:nth-child(1) {
        @include animate(fadeInUp, 0.6s, 0.6s);
      }

      &:nth-child(2) {
        @include animate(fadeIn, 0.6s, 0.7s);
      }

      &:nth-child(3) {
        @include animate(fadeInUp, 0.6s, 0.8s);
      }

      &:nth-child(4) {
        @include animate(fadeIn, 0.6s, 0.9s);
      }

      &:nth-child(5) {
        @include animate(fadeInUp, 0.6s, 1s);
      }
    }

    .brother11 {
      @include animate(fadeInUp, 0.6s, 1.2s);
    }
  }

  &.hide {
    .brother1,
    .taskHint1 h3,
    .taskHint1 p,
    .taskLabel,
    .steps > *,
    .brother11 {
      @include animate(fadeOut, 1s, 0s);
    }
  }
}

.task2 {
  .brother2,
  .taskHint2 h3,
  .taskHint2 p,
  .steps > *,
  .carousel {
    opacity: 0;
  }
  &.show {
    // @include animate(fadeInUp, 0.6s, 0s);
    .brother2 {
      @include animate(fadeInUp, 0.6s, 0.2s);
    }

    .taskHint2 {
      h3,
      p {
        @include animate(fadeIn, 0.6s, 0.2s);
      }
    }

    .steps > * {
      &:nth-child(1) {
        @include animate(fadeInUp, 0.6s, 0.6s);
      }

      &:nth-child(2) {
        @include animate(fadeIn, 0.6s, 0.7s);
      }

      &:nth-child(3) {
        @include animate(fadeInUp, 0.6s, 0.8s);
      }
    }

    .carousel {
      @include animate(fadeInUp, 0.6s, 1s);
    }
  }

  &.hide {
    .brother2,
    .taskHint2 h3,
    .taskHint2 p,
    .steps > *,
    .carousel {
      @include animate(fadeOut, 1s, 0s);
    }
  }
}

.fbBlock,
.googleBtn,
.mapTitle,
.map {
  opacity: 0;

  &.show {
    @include animate(fadeInUp, 0.6s, 0s);
  }

  &.hide {
    @include animate(fadeOut, 1s, 0s);
  }
}

.task3 {
  .brother3,
  .brother31,
  .taskHint3 h3,
  .taskHint3 p {
    opacity: 0;
  }
  &.show {
    // @include animate(fadeInUp, 0.6s, 0s);
    .brother3 {
      @include animate(fadeInUp, 0.6s, 0.4s);
    }

    .taskHint3 {
      h3,
      p {
        @include animate(fadeInUp, 0.6s, 0.6s);
      }
    }

    .brother31 {
      @include animate(fadeInUp, 0.6s, 0.8s);
    }
  }

  &.hide {
    .brother3,
    .brother31,
    .taskHint3 h3,
    .taskHint3 p {
      @include animate(fadeOut, 1s, 0s);
    }
  }
}
