.section {
  width: 100%;
  position: relative;
  padding: 15px 0;
  overflow: hidden;
}


/* 螢幕尺寸標準 */
/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .section {
    padding: 15px;
  }
}

/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .section {
    padding: 15px;
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
  .section {
    padding: 15px;
  }
}