@import '../../../assets/animate.scss';

.bg {
  width: 100vw;
  background-size: cover;
  background-position: center;
  // background-image: url('./bg.png');
  background-color: #c7b39f;
  position: relative;
  padding: 1px 0;
}

.item {
  width: 582px;
  margin: 0 auto 120px;

  .label {
    color: #2d436e;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 32px;
    color: #a99054;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }

  .desc {
    font-size: 16px;
    color: #2d436e;
    line-height: 1.5;
    margin-bottom: 40px;
  }
}

.slide {
  width: 100%;
  position: relative;
  height: 445px;
  .carousel {
    width: 582px;
    height: 388px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.5);
  }

  .content {
    background: #fff;
    width: 572px;
    height: 415px;
    position: absolute;
    bottom: 0;
    left: -25px;
    z-index: 1;

    .location {
      font-size: 16px;
      color: #2d436e;
      position: absolute;
      bottom: 20px;
      left: 40px;
    }
  }
}