@import '../../../assets/animate.scss';

.bg {
  width: 100vw;
  background-size: cover;
  background-position: top;
  background-image: url('./bg.png');
  background-color: #eee8df;
  background-attachment: fixed;
  position: relative;
  padding: 60px 0 40px;
}

.item {
  width: 582px;
  margin: 0 auto 120px;

  .label {
    color: #2d436e;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .title {
    font-size: 32px;
    color: #a99054;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }

  .desc {
    font-size: 16px;
    color: #2d436e;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .label, .title, .desc, .slide {
    opacity: 0;
  }

  &.show {
    .label {
      @include animate(fadeInUp, .8s, 0s);   
    }

    .title {
      @include animate(fadeInUp, .8s, .2s);   
    }

    .desc {
      @include animate(fadeInUp, .8s, .4s);   
    }

    .slide {
      @include animate(fadeInUp, .8s, .6s);   
    }
  }

  &.hide {
    .label, .title, .desc, .slide {
      @include animate(fadeOut, 1s, 0);
    }
  }
}

.slide {
  width: 100%;
  position: relative;
  height: 445px;
  .carousel {
    width: 582px;
    height: 388px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.5);
  }

  .content {
    background: #fff;
    width: 572px;
    height: 415px;
    position: absolute;
    bottom: 0;
    left: -25px;
    z-index: 1;

    .location {
      font-size: 16px;
      color: #2d436e;
      position: absolute;
      bottom: 20px;
      left: 40px;
    }
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .item {
    width: 419px;
    .label {
      font-size: 16px;
    }

    .title {
      font-size: 24px;
    }

    .desc {
      font-size: 12px;
    }
  }

  .slide {
    height: 330px;
    .carousel {
      width: 419px;
      height: 276px;
    }
  
    .content {
      width: 411px;
      height: 298px;
      left: -25px;
  
      .location {
        font-size: 12px;
        bottom: 20px;
        left: 40px;
      }
    }
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .bg {
    background-image: url('./bg-m.png');
  }
  .item {
    width: 90%;
    margin: 0 auto 60px;
    .label {
      font-size: 16px;
    }

    .title {
      font-size: 24px;
    }

    .desc {
      font-size: 12px;
    }
  }

  .slide {
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;

    .carousel {
      width: 100%;
      height: 100%;
      position: relative;
      box-shadow: none;

      img {
        height: 100%;
      }
    }
  
    .content {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 30px;
      margin-left: -20px;
  
      .location {
        font-size: 12px;
        bottom: 5px;
        left: 20px;
      }
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}