.contactSection {

}

.orderBg {
  background-color: #9c1e23;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.24), rgba(156, 30, 35, 0));
}

.houseBg {
  background-color: #fff;
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .order {
    align-items: center;
    display: flex;
  }
}
