@import '../../../assets/animate.scss';

.container {
  display: flex;
  flex-direction: row-reverse;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;

  .leftImg,
  .title,
  .subTitle,
  .desc,
  .structure {
    opacity: 0;
  }
  &.show {
    .leftImg {
      @include animate(fadeIn, 0.5s, 0s);
    }
    .title {
      @include animate(fadeIn, 0.5s, 0.4s);
    }
    .subTitle {
      @include animate(fadeIn, 0.5s, 0.5s);
    }
    .desc {
      @include animate(fadeIn, 0.5s, 0.7s);
    }
    .structure {
      @include animate(fadeIn, 0.5s, 1s);
    }
  }

  &.bg {
    background-size: cover;
    background-position: center;
  }

  &.top {
    flex-direction: row;
  }
  // .leftImg {
  //   width: 30%;
  // }

  :global {
    .slick-slider {
      width: 50%;
    }

    .slick-slide img {
      width: 100%;
      height: calc(50vw * 640 / 960);
    }
  }

  .content {
    width: 70%;
    padding: 20px 5% 0 10%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .text {
      width: 445px;

      &.sb {
        margin-bottom: 100px;
      }
    }

    .title {
      background-color: #932c59;
      display: inline-block;
      padding: 7px 15px;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: 0.96px;
      text-align: left;
      color: #ffffff;
      margin-bottom: 30px;
    }

    .subTitle {
      font-size: 30px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 1.2px;
      text-align: left;
      color: #932c59;
      margin-bottom: 30px;
    }
    .desc {
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
      letter-spacing: 0.72px;
      text-align: left;
      color: #333333;
    }

    .structure {
      width: 216px;
      bottom: 100px;
      margin-bottom: 100px;
    }

    .promise {
      width: 180px;
      margin-bottom: 100px;
    }
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #fff;

    &.bg {
      background-image: url('./downBg.png');
      background-size: cover;
      background-position: center;
    }
    .leftImg {
      width: 100%;
      padding-bottom: 30px;
    }
    .promise {
      position: relative;
      width: 210px;
      display: block;
      margin: 0 auto 40px;
      bottom: 0;
    }

    .content {
      width: 90%;
      // height: 100vh;
      padding: 0;
      margin: 0 auto;
      position: relative;
      display: flex;
      align-items: flex-start;
      padding-top: 30px;

      .text {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 40px;
      }
      .title {
        font-size: 18px;
      }
      .subTitle {
        font-size: 22px;
        margin-bottom: 30px;
      }
      .desc {
        font-size: 16px;
      }
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
