@import '../../../assets/animate.scss';

.bg {
  width: 100vw;
  display: flex;
  justify-content: space-between;

  .label,
  .title,
  .subTitle,
  .desc,
  .item {
    opacity: 0;
  }

  &.show {
    .item {
      @include animate(fadeInUp, 0.5s, 0s);
    }
    .label {
      @include animate(fadeInUp, 0.5s, 0.3s);
    }

    .title {
      @include animate(fadeInUp, 0.5s, 0.6s);
    }

    .subTitle {
      @include animate(fadeInUp, 0.5s, 0.9s);
    }

    .desc {
      @include animate(fadeInUp, 0.5s, 1.2s);
    }
  }

  &.hide {
    .label,
    .title,
    .subTitle,
    .desc {
      @include animate(fadeOut, 0.6s, 0);
    }
  }
}

.bg {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #fff;

  .container {
    width: 1100px;
    position: relative;
    margin: 0 auto;
  }

  .item {
    width: 1100px;
    height: 100vh;
    position: relative;
    opacity: 0;
    transition: all 0.8s;
    // &.active {
    //   opacity: 1;
    // }

    .mask {
      width: 535px;
      height: 317px;
      border-radius: 30px;
      padding: 25px;
      position: absolute;
      bottom: 40px;
      left: 0;
      background: rgba(0, 0, 0, 0.6);

      .label {
        left: 0;
        right: 0;
        position: absolute;
        display: inline-block;
        margin: 0 auto;
        color: #bb926d;
        height: 13px;
        line-height: 13px;
        margin-bottom: 8px;
        text-align: center;
        border-left: 1px solid #bb926d;
        border-right: 1px solid #bb926d;
        padding: 0 15px;
        font-size: 13px;
      }
      .title {
        text-align: center;
        margin-top: 25px;
        margin-bottom: 19px;
        font-size: 26px;
        color: #bb926d;
      }
      .subTitle {
        margin-bottom: 21px;
        font-size: 15px;
        color: #fff;
        text-align: center;
        font-weight: bold;
      }

      .desc {
        text-align: justify;
        font-size: 16px;
        width: 400px;
        margin: 0 auto;
      }
    }

    .title {
      width: 100%;
      font-size: 26px;
      text-align: left;
      margin-bottom: 30px;
      color: #fff;
      text-shadow: 0 0 2px #000;
    }

    .desc {
      width: 100%;
      font-size: 16px;
      text-align: justify;
      color: #fff;
      text-shadow: 0 0 1px #000;
    }
  }

  .btnGroup {
    position: absolute;
    right: 55px;
    bottom: 30px;
    width: 145px;
    height: 73px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;

    div {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #fff;

      &:nth-last-child(1) {
        border-right: none;
      }
    }

    .left {
      transform: rotate(90deg);
      width: 20px;
    }

    .right {
      transform: rotate(270deg);
      width: 20px;
    }
  }

  .slideImg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.8s;
    &.active {
      opacity: 1;
    }
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .slider {
    .container {
      width: 800px;
    }

    .item {
      width: 800px;
      // &.active {
      //   opacity: 1;
      //

      .text {
        width: 300px;
      }

      .title {
        width: 100%;
      }

      .desc {
        font-size: 16px;
      }
    }
  }
}

/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .bg {
    width: 100vw;
    height: auto;
    position: relative;
    display: block;
    .slideImg {
      width: 100vw;
      height: auto;
      position: relative;
      display: block;
      position: absolute;
      top: 0;
      opacity: 0;
      transition: all 0.8s;
      &.active {
        opacity: 1;
      }

      &:nth-child(1) {
        position: relative;
      }
    }

    .btn {
      position: absolute;
      top: 18%;
      z-index: 2;
      width: 20px;
      display: block;
    }
    .leftBtn {
      left: 30px;
    }

    .rightBtn {
      right: 30px;
    }

    .content {
      background: #fff;
      width: 100vw;
      height: 300px;
      padding: 20px;
      position: absolute;
      &:nth-child(1) {
        position: relative;
      }

      .label {
        width: 175px;
        height: 13px;
        font-size: 13px;
        margin: 0 auto;
        margin-bottom: 8px;
        text-align: center;
        border-left: 1px solid #bb926d;
        border-right: 1px solid #bb926d;
        color: rgba(187, 146, 109, 0.52);
      }

      .title {
        width: 277px;
        height: 26px;
        margin: 0 auto;
        margin-bottom: 19px;
        font-size: 26px;
        color: #bb926d;
      }

      .subTitle {
        width: 250px;
        height: 15px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 21px;
        font-weight: bold;
        font-size: 15px;
        color: #bb926d;
      }

      .desc {
        width: 90%;
        margin: 0 auto;
        color: #444;
        text-align: justify;
        padding-bottom: 15px;
      }
    }
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}

// 避免過度到 1280 x 720 時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}
