@mixin animate($method, $time, $delay) {
  animation: $method $time ease-in-out 0s forwards;
  animation-delay: $delay;
}

@keyframes fadeIn {
  from { 
    opacity: 0;
    transform: translate3d(0, 0, -100px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from { 
    opacity: 0;
    transform: translate3d(0, 20px, -20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from { 
    opacity: 0;
    transform: translate3d(-20px, 0, -20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from { 
    opacity: 0;
    transform: translate3d(20px, 0, -20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  from { 
    opacity: 0;
    transform: translate3d(0, -20px, -20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes spreadIn {
  from { 
    opacity: 0;
    letter-spacing: -0.15em;
  }

  to {
    opacity: 1;
    letter-spacing: 0;
  }
}


