@import '../components/Navigation/index.scss';

:global {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .viewport-frame {
    position: absolute;
    min-height: 400px;
    height: 100%;
    left: 30px;
  }

  #app {
    width: 100vw;
    overflow: hidden;
    background: #fff;
  }

  .masterBg {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .bg {
    width: 100vw;
    min-height: calc(100vh - #{$navigationPCHeight});
    background-size: cover;
    background-position: center;
  }

  .flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* 螢幕尺寸標準 */
  /* 平板尺寸 */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .bg {
      min-height: calc(100vh - #{$navigationTabletHeight});
    }
  }

  /* 手機尺寸 */
  @media only screen and (max-width: 767px) {
    .viewport-frame {
      position: absolute;
      min-height: 100vh;
      height: 100%;
      width: 100px;
    }

    .bg {
      min-height: calc(100vh - #{$navigationMobileHeight});
    }

    .flex-c {
      flex-wrap: wrap;
    }
  }

  // 避免內容電腦過渡平板時，設計未考量的調整
  @media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
  }

  // 避免過度到 1280 x 720 時，設計未考量的調整
  @media only screen and (min-width: 1025px) and (max-width: 1280px) {
  }
}
