@import '../assets/global.scss';

h2 {
  font-family: 'DFPingJuStd';
  margin: 0;
  font-weight: normal;
}
h3 {
  font-family: 'Noto Serif TC', serif;
  margin: 0;
  font-weight: bold;
}

p {
  font-family: 'Noto Serif TC', serif;
  margin: 0;
}

/* animate css */



/* font */
@font-face {
  font-family: DFPingJuStd;
  src: url('../assets/font/DFPingJuStd-W7.otf?#iefix') format('embedded-opentype'),
  url('../assets/font/DFPingJuStd-W7.otf');
}
