@import '../assets/global.scss';

h2 {
  font-family: 'DFPingJuStd';
  margin: 0;
  font-weight: normal;
}
h3 {
  font-family: '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica,
    Arial;
  // font-family: 'Noto Serif TC', serif;
  margin: 0;
  font-weight: bold;
}

p {
  font-family: '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica, 'Noto Sans TC', serif;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

span {
  font-family: '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica, 'Noto Sans TC', serif;
}

/* animate css */



/* font */
@font-face {
  font-family: DFPingJuStd;
  src: url('../assets/font/DFPingJuStd-W7.otf?#iefix') format('embedded-opentype'),
  url('../assets/font/DFPingJuStd-W7.otf');
}
