@import '../assets/global.scss';

h2 {
  font-family: 'DFPingJuStd';
  margin: 0;
  font-weight: normal;
}
h3 {
  font-family: '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica,
    Arial;
  margin: 0;
  font-weight: bold;
}

p {
  // font-family: 'Noto Sans TC', serif;
  font-family: '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica,
  Arial;
  margin: 0;
}

* {
  font-family: '微軟正黑體', 'Microsoft JhengHei', 'Helvetica Neue', Helvetica !important;
}

/* animate css */

/* font */
@font-face {
  font-family: DFPingJuStd;
  src: url('../assets/font/DFPingJuStd-W7.otf?#iefix')
      format('embedded-opentype'),
    url('../assets/font/DFPingJuStd-W7.otf');
}
