@import '../../assets/animate.scss';

.houseInfo {
  width: 686px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  // .title, .item,  {
  //   opacity: 0;
  // }

  // &.show {
  //   .title {
  //     @include animate(fadeInUp, .4s, 0);
  //   }

  //   .item {
  //     @for $i from 1 through 12 {
  //       &:nth-child(#{$i}) {
  //         @include animate(fadeInUp, .4s, 0.2s + $i * 0.15s);
  //       }
  //     }
  //   }
  // }

  // &.hide {
  //   .title {
  //     @include animate(fadeOutUp, .4s, 0);
  //   }

  //   .item {
  //     @for $i from 1 through 7 {
  //       &:nth-child(#{$i}) {
  //         @include animate(fadeOutUp, .4s, 0);
  //       }
  //     }
  //   }
  // }
}

.title {
  font-size: 36px;
  line-height: 36px;
  margin: 60px 0;
  font-family: 'Noto Serif TC', serif;
  font-weight: bold;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.item {
  font-size: 16px;
  white-space: nowrap;
  margin-bottom: 40px;
  margin-right: 160px;
  width: 260px;
  border-left: 4px solid #2d436e;
  padding-left: 12px;
  display: flex;
  align-items: center;

  &:nth-of-type(even) {
    margin-right: 0;
  }

  .label {
    font-size: 16px;
    color: #2d436e;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .desc {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
  }
}

/* 螢幕尺寸標準 */
/* 手機尺寸 */
@media only screen and (max-width: 767px) {
  .houseInfo {
    width: 100%;
  }

  .title {
    font-size: 32px;
    margin: 40px 0 24px;
  }

  .item {
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%;
    margin-left: 20px;
  }

  .info {
    width: 100%;
    margin-bottom: 20px;
  }

  .desc {
    white-space: normal;
  }
}

/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .houseInfo {
    width: 686px;
  }

  .title {
    font-size: 32px;
    margin: 40px 0 24px;
  }

  .item {
    margin-bottom: 20px;
  }
}

// 避免內容電腦過渡平板時，設計未考量的調整
@media only screen and (min-width: 1025px) and (max-width: 1199.98px) {
}
